/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:70px;

    gap:50px;
}

.hero-content{
    width:50%;
}

.hero-tag{
    background:#d7b899;
    padding:8px 16px;
    border-radius:20px;
}

.hero-content h1{
    font-size:55px;
    margin:25px 0;
    line-height:1.3;
}

.hero-content span{
    color:#8d6e63;
}

.hero-content p{
    line-height:1.8;
}

/* BUTTON */
.hero-buttons{
    display:flex;
    gap:20px;
    margin-top:30px;
}

.btn-main{
    background:#8d6e63;
    color:white;

    padding:15px 25px;

    border-radius:10px;

    text-decoration:none;
}

.btn-outline{
    border:2px solid #8d6e63;

    color:#8d6e63;

    padding:15px 25px;

    border-radius:10px;

    text-decoration:none;
}

/* IMAGE */
.hero-image{
    width:50%;
}

.hero-image img{
    width:100%;
    border-radius:25px;
}
