/* ========================================
   LOGIN PAGE
======================================== */

.login-page{

    min-height:100vh;

    background:linear-gradient(
        135deg,
        #EFF6FF 0%,
        #FAF5FF 45%,
        #FDF2F8 100%
    );

    position:relative;

    overflow:hidden;
}

.login-wrapper{

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:center;
}

/* ========================================
   CARD
======================================== */

.login-card{

    width:100%;

    max-width:460px;

    max-height:700px;

    background:rgba(255,255,255,.72);
    backdrop-filter:blur(12px);

    border-radius:24px;

    padding:15px 38px;

    box-shadow:
        0 20px 45px rgba(0,0,0,.12);

    position:relative;

    z-index:2;
}

.login-title{

    font-size:26px;

    font-weight:700;

    text-align:center;

    color:#1F2937;

    margin-bottom:7px;
}

.login-subtitle{

    text-align:center;

    color:#6B7280;

    font-size:13px;

    margin-bottom:20px;
}
/* ========================================
   INPUT WRAPPER
======================================== */

.input-wrapper{
    position: relative;
}

.input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    pointer-events: none;
    line-height: 1;
}

/* ========================================
   CUSTOM INPUT
======================================== */

.custom-input{
    height: 50px;
    border-radius: 12px;
    border: 2px solid #E5E7EB;
    background: #F9FAFB;

    padding-left: 46px !important;
    padding-right: 16px !important;

    font-size: 14px;
}

/* ========================================
   BOOTSTRAP INVALID FIX
======================================== */

.custom-input.is-invalid,
.was-validated .custom-input:invalid{

    border-color: #dc3545 !important;

    background-image: none !important;

    padding-right: 16px !important;

    box-shadow: none !important;
}


.form-control.is-invalid{
    background-image: none !important;
}

/* ========================================
   ERROR TEXT
======================================== */

.invalid-feedback,
.text-danger{

    display: block;

    margin-top: 6px;

    font-size: 13px;

    font-weight: 500;
}